.ArtistView {
    outline: blue solid 1px;
    height: calc(100% - 6vmin);
    overflow-y: scroll;
}

.ArtistContent {
    height: max-content;
}

.ArtistHeader {
    display: flex;
    flex-direction: row;
    padding: 1vmin;
}

.ArtistImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.ArtistImage img {
    height: 100%;
}

.ArtistDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 1vmin;
}

.ArtistName {
    font-size: 60px;
    font-weight: bolder;
}



.ArtistHeading {
    display: flex;
    align-items: flex-start;
    font-size: 30px;
    font-weight: bolder;
    padding: 1vmin;
}


.RenderOptions {
    display: flex;
    flex-direction: row;
}

.test {
    /* height: max-content; */
    /* height: 20vmin; */
    height: 30vmin;
    width: 100%;
    outline: green solid 3px;
}