.Row {
    display: flex;
    flex-direction: row;
    height: 30vmin;
    width: 100%;
}

.RowItem {
    border-radius: 10px;
    padding: 1vmin;
    width: 100%;
    height: min-content;
    overflow-x: hidden;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.RowItem:hover {
    background-color: var(--gray);
}

.RowItem:hover .PContainer {
    opacity: 1;
    z-index: 10;
}

.Inner {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.RowItemText {
    text-align: left;
}

.Inner:hover .PContainer {
    opacity: 1;
}


.Image {
    height: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    position: relative;
    display: inline-block;
}

.Image img {
    height: 100%;
    width: 100%;
}

.PContainer {
    opacity: 0;
    color: black;
    position: absolute;
    top: 65%;
    left: 65%;
}

.PlayIcon {
    background-color: var(--green);
    border-radius: 50%;
    padding: 1.5vmin;

    display: flex;
    justify-content: center;
    align-items: center;
}


.RowItemMainText {
    overflow-x: hidden;
    white-space: nowrap;
}

.RowItemSubText {
    overflow-x: hidden;
    white-space: nowrap;
}

.RowItemEmpty {
    border-radius: 10px;
    padding: 1vmin;
    width: 100%;
    height: min-content;
    overflow-x: hidden;
    overflow: hidden;
}