.TopTracks {
    padding: 1vmin;
}

.TopTrack {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vmin;
    padding: 1vmin;
}

.Container {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.TopTrackNumber {
    height: 8vmin;
    width: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopTrackImage {
    padding-left: 1vmin;
    padding-right: 1vmin;
}

.TopTrackImageContainer {
    height: 8vmin;
    width: 8vmin;
    border-radius: 10px;
    overflow: hidden;
}

.TopTrackImageContainer img {
    height: 100%;
}

.TopTrackName {
    height: 100%;
}

.TopTrackName {
    height: 8vmin;
    display: flex;
    /* width: calc(100% - 100px); */
    align-items: center;
}

.TopTrackTimeBox {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.TopTrackTime {
    width: 8vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debug {
    outline: red dotted 1px;
}