.TopTracks {
    padding: 1vmin;
}

.TopTrack {
    height: min-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vmin;
}


.TopTrackNumber {
    height: 70px;
    width: 70px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopTrackImage {
    flex-grow: 0;
    height: 70px;
    width: 70px;
}

.TopTrackImageContainer {
    height: 70px;
    width: 70px;

    border-radius: 10px;
    overflow: hidden;
}

.TopTrackImageContainer img {
    height: 100%;
}

.TopTrackName {
    height: 70px;
    max-width: calc(100% - 210px);
    padding-left: 1%;
    flex-grow: 1;

    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.TopTrackTimeBox {
    height: 70px;
    width: 70px;
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: center;

}

.TopTrackTime {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShowText {
    display: flex;
    align-items: flex-start;
    padding: 1vmin;
    padding-bottom: 2vmin;
}