.PlaylistContainer {
    background-color: var(--dark-gray);
}

.Playlist {
    overflow-x: hidden;
    height: min-content;
    display: flex;
    flex-direction: row;
}

.PlaylistCover {
    height: 70px;
    width: 70px;
}

.PlaylistDetails {
    display: flex;
    flex-direction: column;
    text-align: left;

}
