.Playlists {
    width: 100%;
    height: 100%;
    /* padding: 0.5%; */
    width: 33%;

    overflow-y: scroll;
    scroll-padding-bottom: 0;
}

.PlaylistContainer {

    background-color: var(--dark-gray);
}

.Playlist {
    overflow-x: hidden;
    height: min-content;
    display: flex;
    flex-direction: row;
}

.PlaylistCover {
    height: 70px;
    width: 70px;
}

.PlaylistDetails {
    display: flex;
    flex-direction: column;
    text-align: left;

}

/** TODO */
.temp {
    padding: 1%;
}