.Playlists {
    height: 100%;
    min-width: 33%;
    overflow-y: scroll;
    scroll-padding-bottom: 0;
    /* outline: yellow solid 1px; */
    padding-left: 1vmin;
}

.PlaylistContainer {
    background-color: var(--dark-gray);
}

.Playlist {
    overflow-x: hidden;
    height: min-content;
    display: flex;
    flex-direction: row;
}

.PlaylistCover {
    height: 70px;
    width: 70px;
}

.PlaylistDetails {
    display: flex;
    flex-direction: column;
    text-align: left;

}
