.ArtistList {
    display: flex;
    flex-direction: row;


    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Artist {
    padding-right: 1%;
}

.Artist:hover {
    text-decoration: underline;
}