.Track {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.TrackNumber {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.TrackImageContainer {
    flex-grow: 0;
    border-radius: 10px;
    overflow: hidden;
    padding-right: 1vmin;
}

.TrackImageContainer img {
    height: 100%;
}

.TrackMainDescription {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TrackName {
    text-align: left;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

.TrackArtists {
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}


.TrackAlbum {
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

.TrackDate {
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1500px) {
    .TrackDate {
        display: none;
    }
}

@media (max-width: 800px) {
    .TrackAlbum {
        display: none;
    }
}


.TopTrackTimeBox {
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.TopTrackTime {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShowText {
    display: flex;
    align-items: flex-start;
    padding: 1vmin;
    padding-bottom: 2vmin;
}
