.ArtistView {
    height: 100%;
}

.ArtistImageContainer {
    outline: red solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.ArtistImageContainer img {
    height: 110%;

}