.ArtistView {
    outline: blue dotted 1px;
    height: calc(100% - 6vmin);
    overflow-y: scroll;
}

.ArtistHeader {
    display: flex;
    flex-direction: row;
    padding: 1vmin;
    outline: red solid 1px;
}

.ArtistImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    outline: blue dotted 1px;
}

.ArtistImage img {
    height: 100%;
}

.ArtistDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 1vmin;
}

.ArtistName {
    font-size: 60px;
    font-weight: bolder;
}



.ArtistHeading {
    display: flex;
    align-items: start;
    font-size: 30px;
    font-weight: bolder;
    padding: 1vmin;
}


/* Tracks */

.TopTracks {
    padding: 1vmin;
}

.TopTrack {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vmin;
    padding: 1vmin;
    outline: gold dotted 1px;
}

.Container {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.TopTrackNumber {
    height: 8vmin;
    width: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopTrackImage {
    padding-left: 1vmin;
    padding-right: 1vmin;
}

.TopTrackImageContainer {
    height: 8vmin;
    width: 8vmin;
    border-radius: 10px;
    overflow: hidden;
}

.TopTrackImageContainer img {
    height: 100%;
}

.TopTrackName {
    height: 100%;
}

.TopTrackName {
    height: 8vmin;
    display: flex;
    /* width: calc(100% - 100px); */
    align-items: center;
}

.TopTrackTimeBox {
    display: flex;
    width: 30%;
    justify-content: end;
}

.TopTrackTime {
    width: 8vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShowText {
    display: flex;
    align-items: start;
    padding: 1vmin;
    padding-bottom: 2vmin;
}