.Canvas {
    padding: 1vmin;
}


.Top {
    height: calc(100vh - 70px - 4vmin);
    width: 100%;
    display: flex;
    flex-direction: row;
    outline: goldenrod solid 1px;
}

.Content {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 100%;
    padding-left: 1vmin;
    /* outline: green solid 1px; */
    /* overflow: hidden; */
}

.Player {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vmin;
    /* outline: goldenrod solid 1px; */
}



.Controls {
    width: 150%;
}


/* No playback state*/
.NoPlayback {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NoPlaybackText {
    padding: 1%;
}


.TransferButton {
    padding: 1%;
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
}

.TransferButton:hover {
    text-decoration: underline;
}

.TransferButton:active {
    position: relative;
    top: 1%;
}