.PageNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: large;
    height: 4vmin;
    padding: 1vmin;
    /* outline: red solid 1px; */
}

.NavigationBox {
    width: 4vmin;
    height: 4vmin;
    /* outline: orange solid 1px; */
}

.NavigationCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--gray);
    border-radius: 50%;
}

.Spacer {
    min-width: 1%;
}