:root {
  --green: #44c767;
  --black: #191414;
  --white: #ffffff;
  --gray: #b3b3b3;
}
.App {
  text-align: center;
  height: 100vh;
  background-color: var(--black);
  color: var(--white)
}

.LoginSpace{
  height: 40vh;
}

.Login {
  background-color: #44c767;
  border-radius: 10px;
  border: 3px solid #161c17;
  display: inline-block;
  justify-content: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
}

.Login:active {
  position: relative;
  top: 1px;
}

/* Player that will be displayed at the bottom of the screen */
.Player {
  display: flex;
  flex-direction: row;
  outline: red dotted; /* DEBUG */
  outline-width: 1px; /* DEBUG */
}

/* First third of the player containing track information*/
.Player_1_3 {
  width: 33%;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 10px;
  outline: red dotted; /* DEBUG */
  outline-width: 1px; /* DEBUG */
}

.current_track_details_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.current_track_cover {
  width: 100%;
  max-width: 60px;
}

.current_track_name {
  font-size: large;
  color: var(--white);
  padding: 2px;
}

.current_track_artists {
  font-size: medium;
  color: var(--gray);
}


/* Second third of the player containing player controls */
.Player_2_3 {
  width: 33%;
  color: var(--black)
}

.Player_2_3_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}

.play_button {
  background-color: var(--white);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

.play_icon,
.pause_icon {
  position: relative;
  top: calc(50% - 50%);
  width: 100%;
  height: 100%;
}

.previous_button,
.next_button,
.shuffle_button,
.repeat_button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  ;
}

.previous_icon,
.next_icon,
.shuffle_icon,
.repeat_icon {
  position: relative;
  top: calc(50% - 50%);
  width: 100%;
  height: 100%;
  color: var(--white);
}


.Player_2_3_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 1px;
  font-size: 12px;
  color: var(--white);
}

.progress_bar {
  width: 80%;
  height: 8px;
  background-color: var(--white);
  border-radius: 10px;
}

.progress_bar:hover .progress {
  background-color: var(--green);
}

.progress {
  height: 8px;
  background-color: var(--gray);
  border-radius: 10px;
}

/* Third third of the player containing volume controls*/
.Player_3_3 {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  outline: red dotted;
  outline-width: 1px;
  padding: 30px;
}
.sound_icon {
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 50%;
  text-align: center;
}

.volume_container{
  display: flex;
  align-items: center;
}
.slider{
  width: 80%;
  accent-color: var(--white);
  height: 8px;
}
.slider::-webkit-slider-thumb{
  opacity: 0;
  height: 8px;
}
.volume_container:hover .slider{
  accent-color:var(--green);
}
.volume_container:hover .slider::-webkit-slider-thumb{
  opacity: 1;
}

.slider_encased:hover .test{
  accent-color: var(--green);
}
.slider_encased:hover .test::-webkit-slider-thumb{
  opacity: 1;
}
.test{
  accent-color: var(--white);
  width : calc(25vw);
  outline:red dotted;/* Remove */
  outline-width: 1px; /* Remove*/
}
.test::-webkit-slider-thumb{
  opacity: 0;
}
/* .debug{
  outline:red dotted;
  outline-width: 1px;
} */