.ArtistView {
    /* outline: blue solid 1px; */
    height: calc(100% - 6vmin);
}


.ArtistContent {
    height: max-content;
}



.ArtistDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* justify-content: flex-end; */
    text-align: left;
    /* padding: 1vmin; */
}

.ArtistName {
    font-size: 60px;
    font-weight: bolder;
}

.ArtistHeading {
    display: flex;
    align-items: flex-start;
    font-size: 30px;
    font-weight: bolder;
    padding: 1vmin;
}


.RenderOptions {
    display: flex;
    flex-direction: row;
}

.RenderOption {
    padding: 10%;
    border-radius: 10px;
    width: min-content;
}

.RenderContainer {
    padding-right: 1.5%;
}

.ContentDisplay {
    height: max-content;
    width: 100%;
}