/* .HomeView {
    background-color: var(--dark-gray);
} */


.Welcome{
    display: flex;
    flex-direction: row;
    outline: red dotted 1px;
    height: 500px;

}
.test{
    outline: blue dotted 1px;
    width: 100%;
    justify-content: center;
    height: 500px;
}
.test2{
    width: min-content;
}