.PlaylistView {
    height: calc(100% - 6vmin);
    /* height: max-content; */
    overflow-y: scroll;

    outline: red dotted 1px;
}

.PlaylistContent {
    height: max-content;

}

/* spotify:track:5mEqD00bdFcsiVd0MfvEeF */