.Canvas {
    padding: 1vmin;
}

/* Top Section */
.Top {
    height: calc(100vh - 70px - 3vmin);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Playlists {
    max-height: 100%;
    width: 250px;
    overflow-y: scroll;
}

.Playlists::-webkit-scrollbar {
    background-color: var(--dark-gray);
    width: 1vmin;
}

.Playlists::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 10px;
}



.Content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100%;
    padding-left: 1vmin;
}

/* Bottom Section*/
.Bottom {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding-top: 1vmin;
}


.Current {
    width: 25%;
}

.Controls {
    width: 50%;
}

.SideControls {
    width: 25%;
    display: flex;
}


/* No playback state*/
.NoPlayback {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NoPlaybackText {
    padding: 1%;
}


.TransferButton {
    padding: 1%;
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
}

.TransferButton:hover {
    text-decoration: underline;
}

.TransferButton:active {
    position: relative;
    top: 1%;
}