.Login {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: var(--black);
    align-items: center;
    justify-content: center;
}

.LoginText {
    padding: var(--spacer);
}

.LoginButton {
    display: flex;
    justify-content: center;

    background-color: var(--green);
    border-radius: 10px;
    padding: calc(2 * var(--spacer));
    color: var(--white);
}

.LoginButton:active {
    position: relative;
    top: 1%;
}