.MainContent {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.MainContentView {
    overflow-y: scroll;
    height: calc(100% - 40px - 2 * var(--spacer));
}

.MainContentView::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;

}

.MainContentView::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 10px;
}