.MainContentContainer {
    height: 100%;
    width: 100%;

    outline: blue dotted 1px;
}

.MainContent {
    border-radius: 10px;
    overflow: hidden;
    height: calc(100% + 5px);
    outline: red dotted 1px;
}

.Scrollable {
    overflow-y: scroll;
    /* overflow: hidden; */
    height: calc(100% - 40px - 2 * var(--spacer));
}

.Scrollable::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;

}

.Scrollable::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 10px;
}