.MainControl {
    display: flex;
    flex-direction: row;
    
    align-items: baseline;
    justify-content: center;
    padding: var(--spacer);
}


.Play,
.SkipBackward,
.SkipForward,
.Shuffle,
.Repeat {
    padding-inline: calc(2 * var(--spacer));
    font-size: 25px;
}

.PlayButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    padding: 3px;
    border-radius: 50%;
}

.ProgressBar {
    display: flex;
    flex-direction: row;
}