.PlayerTrack {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.PlayerTrackImage {
    overflow: hidden;
    min-width: 80px;
    height: 80px;
}

.PlayerTrackImage img {
    height: 100%;
}

/* Details about Current Track*/
.PlayerTrackDetails {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 90px);

    text-align: left;
    padding-left: var(--spacer);
    overflow-x: hidden;
}

.PlayerTrackName {
    width: max-content;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.PlayerTrackName:hover {
    text-decoration: underline;
}

.PlayerTrackArtists {
    display: flex;
    flex-direction: row;
    width: max-content;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}